<%= form_with scope: :task, model: @tasks, locale: true do |f| %>

  <div class="mb-3">
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <div>
    <%= f.submit class: 'btn btn-outline-primary btn-sm' %>
  </div>

<% end %>

<%= link_to 'Back', category_tasks_path, class: 'btn btn-outline-primary btn-lg', method: :get %>